# The bot token from https://discordapp.com/developers/
token: "add-your-token-here"

# Prefix for discord commands
prefix: "+"

# Port to listen on, this has to be the same as the "bot port" in the plugin config and all bots you run have to have different ports or they will clash.
listeningPort: 8888

# Channel to post the bot status messages in
statusChannels: [ "add-channel-id-here", "add-channel-id-here" ]

# The channels where bot commands can be used
commandChannels: [ "add-channel-id-here", "add-channel-id-here" ]

# Log more messages to the console, useful for debugging
verbose: false

# Message cooldown, number of milliseconds to wait between sending messages. Use this if your server sends too many messages for the bot to keep up. (Bot will get delayed if it hits more than 5 messages per 5 seconds)
cooldown: 1000

# Set permissions for discord roles here, the list names are the names of the discord roles and the list items are the first word of a command. Discord admins have access to all commands.
permissions:
    "add-role-id-1-here": # An everyone role example
        - list
    "add-role-id-2-here": # A donator role example
        - vs_whitelist
        - syncrole
        - unsyncrole
    "add-role-id-3-here": # A moderator example
        - syncrole
        - ban
        - unban
        - kick
        - roundrestart
        - hidetag
        - showtag
        - vs_reload
        - vs_enable
        - vs_disable
        - scpd_reload
        - scpd_unsync

# You need to enter your server id here to use role syncing, this will also show your server's roleIDs on startup
serverID: "add-server-id-here"