
############# SCPDiscord configuration file #############


# Connection settings, the port cannot be the same as the SCPSL server port.
bot:
    ip: "127.0.0.1"
    port: 8888

settings:
    # The language is the same as the name of the language file you want to use.
    # Included language files: english (default), russian, french, polish, italian, finnish, englishemote, russianemote, frenchemote, polish-emote, finnishemote
    language: "english"
    # Whether or not to show this server's player count in the bot's activity.
    # Set to false to disable.
    playercount: true
    # The message timestamp, see syntax guide here: https://docs.microsoft.com/en-us/previous-versions/dotnet/netframework-3.0/8kb3ddd4(v=vs.85)
    # Set to "" to disable.
    timestamp: "HH:mm:ss"
    # Whether or not the plugin should send more detailed console messages
    # Set to true to turn on.
    verbose: false
    # Whether or not the plugin should send debug information in the console
    # Set to true to turn on.
    debug: false
    # Turns on the config validation which shows the values after they have been read by the plugin so you can see they are correct
    configvalidation: false
    # Whether or not to use the rolesync system
    rolesync: true
    # Show that this server is using SCPDiscord using invisible text on Kigen's server list (https://kigen.co/scpsl/browser.php?table=y)
    # This is just used to count how many servers are running the plugin, but you may hide your server by setting this to false:
    metrics: true

# Sets commands which are run whenever someone with a synced Discord rank joins the server, only the highest one in the list that matches the player is executed
# Valid variables:
# steamid
# userid
# playerid
# name
# ipadress
# Turn on debug above to see console feedback when the commands are used
rolesync:
    - "add-role-id-here":
        - "scperms_givetemprank moderator <var:userid>" # If you have no need for a permissions plugin you can also set their vanilla rank using the "scpd_grantvanillarank" command
        - "pbc <var:playerid> 3 Moderator role synced from Discord."
        - "scpd_grantreservedslot <var:userid>"
    - "add-another-role-id-here":
        - "scperms_givetemprank donator <var:userid>"
        - "pbc <var:playerid> 3 Donator role synced from Discord."
        - "scpd_grantreservedslot <var:userid>"
    - "add-everyone-role-id-here":
        - "scpd_removereservedslot <var:userid>"

# Name your channels here, this name is used in the channels section below. The left value is a name of your choice and the right is a channel id you want it to represent.
aliases: 
    - "default": "add-channel-id-here"
    - "staff": "add-channel-id-here"

# Using the channel aliases above you can direct events to different channels here
# Set to [] to disable an event.
channels:
    # Bot messages
    statusmessages: [ "default", "staff" ]

    # Channel topic updater
    topic: [ "default", "staff" ]

    # Round events
    onroundstart: []
    onconnect: []
    ondisconnect: []
    onplayerleave: [ "default" ]
    oncheckroundend: []
    onroundend: [ "default", "staff" ]
    onwaitingforplayers: [ "default" ]
    onroundrestart: [ "default", "staff" ]
    onsetservername: []
    onscenechanged: []

    # Environment events
    onscp914activate: []
    onstartcountdown:
        noplayer: [ "default" ]
        initiated: [ "default" ]
        resumed: [ "default" ]
    onstopcountdown:
        default: [ "default" ]
        noplayer: [ "default" ]
    ondetonate: [ "default" ]
    ondecontaminate: [ "default" ]
    onsummonvehicle: 
        chaos: [ "default" ]
        mtf: [ "default" ]
    
    # Player events
    onplayerhurt:
        default: []
        friendlyfire: []
        noattacker: []
    onplayerdie: 
        default: [ "default" ]
        friendlyfire: [ "default", "staff" ]
        nokiller: [ "default" ]
    onplayerpickupitem: []
    onplayerdropitem: []
    onplayerjoin: [ "default", "staff" ]
    onnicknameset: []
    onassignteam: []
    onsetrole: []
    oncheckescape:
        allowed: [ "default" ]
        denied: []
    onspawn: [ "staff" ]
    ondooraccess:
        allowed: []
        denied: []
    onintercom: []
    onintercomcooldowncheck: []
    onpocketdimensionexit: [ "default" ]
    onpocketdimensionenter: [ "default" ]
    onpocketdimensiondie: []
    onthrowgrenade: [ "default", "staff" ]
    onplayerinfected: [ "default" ]
    onspawnragdoll: []
    onlure: [ "default" ]
    oncontain106: [ "default" ]
    onmedicaluse: [ "default" ]
    onshoot:
        default: []
        friendlyfire: []
        notarget: []
    on106createportal: []
    on106teleport: []
    onelevatoruse: []
    onhandcuff:
        default: [ "default" ]
        nootherplayer: [ "default" ]
    onplayertriggertesla:
        default: []
        ignored: []
    onscp914changeknob: []
    onplayerradioswitch: []
    onmakenoise: []
    onrecallzombie: []
    oncallcommand: []
    onreload: []
    ongrenadeexplosion: []
    ongrenadehitplayer: []
    ongeneratorunlock: [ "default" ]
    ongeneratoraccess:
        closed: []
        opened: []
    ongeneratorleverused: [ "default" ]
    on079door:
        closed: []
        opened: []
    on079lock:
        unlocked: []
        locked: []
    on079elevator:
        up: []
        down: []
    on079teslagate: []
    on079addexp: []
    on079levelup: [ "default" ]
    on079unlockdoors: []
    on079camerateleport: []
    on079startspeaker: []
    on079stopspeaker: []
    on079lockdown: []
    on079elevatorteleport: []
    onplayerdropallitems: []

    # Admin events
    onadminquery: [ "staff" ]
    onauthcheck: [ "staff" ]
    onban: 
        admin: 
            kick: [ "default", "staff" ]
            ban: [ "default", "staff" ]
        console: 
            kick: [ "default", "staff" ]
            ban: [ "default", "staff" ]

    # Team events
    ondecideteamrespawnqueue: []
    onsetrolemaxhp: []
    onteamrespawn:
        mtf: []
        ci: [ "default" ]
    onsetscpconfig: []
    onsetntfunitname: [ "default" ]
